@import url(reset.css);


:root {
    font-style: 16px;
}

body {
    background-color: #ffffff;
    background-image: url(../images/Bgimg/BANNER6.png);
    /* height: 3000px; */
}

.wrapper {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
  }
.scroll-to-top {
    display: none; /* 預設隱藏按鈕 */
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #ffffff;
    border:  5px solid #1E2A2F;
    color: #1E2A2F;
    text-align: center;
    font-size: 3.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 20px 25px 2px ;
    cursor: pointer;
    z-index: 999;
    transition: all .9 ease-in-out;
  }
  
  header {
    max-width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: #fff; */
    z-index: 1000;
    transition: all .1s ease-in-out;
  
  }
  
  .top {
    width: 76.04%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 110px;
    box-sizing: border-box;
  }
  
  .logo img {
    width: 39%;
  }
  
  .bar1 .search {
    width: 200px;
    font-size: 1.3125rem;
    line-height: 1.6;
    outline: 3px solid #1E2A2F;
    /* margin-right: 20px; */
  }
  
  .bar1 {
    width: 30%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0044ff; */
    box-sizing: border-box;
    /* border: 3px solid #1E2A2F; */
  }
  
  .bar1 ul {
  
    height: 100%;
    display: flex;
    margin: 20px;
    box-sizing: border-box;
    /* border: 3px solid #1E2A2F; */
  }
  
  
  .bar1 img {
    color: #1E2A2F;
    text-decoration: none;
    width: 5vh;
    display: block;
    /* padding: 5px 20px; */
  }
  
  
  /* ---------------------導覽列--------------------------------------- */
  nav {
    max-width:100%;
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid #1E2A2F;
    position: fixed;
    top: 0;
    z-index: 998;
    margin: 114px auto 0;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    /* transition: top .9s ease-in-out; */
  }
  
  nav .rwd{
    display: none;
  }
  
  nav .rwd-item{
    display: none;
  }
  
  nav>ul {
    /* max-width: 1460px; */
    width: 76.04%;
    display: flex;
    list-style: none;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
  }
  
  nav li {
    width: 20%;
    border-right: 5px solid #1E2A2F;
    flex: 1 0 0%;
  }
  
  nav li:nth-child(1) {
    border-left: 5px solid #1E2A2F;
  }
  
  nav a {
    color: #1E2A2F;
    text-decoration: none;
    padding: 11px 0;
    font-size: 1.125rem;
    text-align: center;
    display: block;
    font-weight: 600;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  nav .sear .search{
    display: none;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
    background-color: #1E2A2F;
    transition: all .3s ease-in-out;
    transform: scale(1.15);
  }
  
  nav a:hover>.submenu {
    border: none;
    background-color: #0044ff;
  }
  
  li:hover span {
    color: #F29600;
  }
  
  nav span {
    color: #939393;
  }
  
  nav ul .submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 10;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    border: none;
    background-color: #1e2a2fef;
  }
  
  nav ul .submenu:hover>.subli {
    transition: all 0.3s ease-in-out;
  }
  
  nav ul .submenu:hover>.subli:nth-child(1) {
    margin-top: 0;
    transition: all .3s ease-in-out;
  }
  
  nav .submenu .subli {
    position: relative;
    transition: all 0.3s ease-in-out;
    border: none;
    margin: 0 auto;
  }
  
  nav .submenu .submi {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid #0044ff; */
    /* background-color: #6070ff; */
    margin: 0 auto;
  }
  
  nav .submenu .subli a {
    width: 25%;
  }
  
  nav ul .submenu .subli a:hover {
   background-color:#1e2a2f00;
   margin-bottom: 15px;
  }
  
  
  nav ul .submenu .subli a:hover>img {
    transform: scale(1.4);
    transition: all .3s ease-in-out;
    opacity: 1;
    padding: 10px 0;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  nav .submenu .submi img {
    width: 25%;
    /* display: none; */
    margin: 0 auto 10px;
    transition: all .3s ease;
    opacity: .08;
  }
  
  nav .submenu .submi p {
    color: #ffffff;
    font-size: 1.5625rem;
    padding: 5px auto;
  }
  
  nav ul .submenu .subli a:hover>p {
    transform: scale(1.3);
    transition: all .3s ease-in-out;
    color: #ffffff;
    margin-top: 15px;
    box-sizing: border-box;
  }

  nav .submenu .sunli:nth-child(1) {
    border-top: none;
  }
  
  li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
/* -----------------------h1-------------------------------------- */
.main {
    margin: 0 auto ;
    width: 100%;
}

.title {
    max-width: 1360px;
    width: 77%;
    height: 400px;
    margin: 0px auto 0;
    /* background-color: #e6e6e6; */
    border-right: 2px solid #1E2A2F;
    border-left: 2px solid #1E2A2F;
    background-image:url(../images/product/DEATH/N2656313001001_002.png);
    filter: grayscale(30%) brightness(100%) contrast(170%);
    background-size:cover;
    background-position: 0vi;
    background-repeat: no-repeat;
    padding: 50px;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, .7); */
}

.title h1 {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 3.5625rem;
    padding-top: 10px;
    line-height: 1.1;
    filter: grayscale(100%) brightness(100%) contrast(170%);
}

.title p {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #F29600;
    text-shadow: 2px 2px 4px rgba(1, 1, 1, .7);
    filter: grayscale(30%) brightness(100%) contrast(170%);
    padding-top: 30px;
    /* padding-bottom: 50px; */
    /* border-bottom: 4px solid #1e2a2f24; */
    /* margin-left: 50px; */
}

.title p:after {
    content: "最新ニュース﹍";
    /* border: 5px solid #909192; */
}

/* --------------------------article--------------------------------- */

article{
    display: flex;
    max-width: 1360px;
    width: 77%;
    margin: 0 auto;
    background-color: #f7f5f5;
    border-right: 2px solid #1E2A2F;
    border-left: 2px solid #1E2A2F;
    justify-content: space-between;
    box-sizing: border-box;
    /* margin-bottom: 50px; */
}

.art1{
    width: 75%;
    /* height: 100%; */
    border: 1px solid #1e2a2f2c;
    /* margin: 0 20px 10px 0; */
    line-height: 1.8;
    font-weight: bold;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.art1 p{
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    color: #1E2A2F;
    padding: 20px 50px;
    text-align: justify;
    text-justify: distribute;
}

.art1 .picc img {
    width: 90%;
    /* height: 750px; */
    display: block;
    /* border: 5px solid #0044ff; */
    margin: 0 auto;
}
/* 好文推薦 */
.art2{
    width: 30%;
    height: 1000px;
    /* border: 1px solid #2798c9; */
    margin-left: 20px;
}

.art2 h2{
    color: #1E2A2F;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin: 50px 0 20px;
}


.art2 .tini a{
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #1E2A2F;
    
}

.tini a .number {
    width: 40px;
    /* background-color: #1E2A2F; */
    padding: 30px 10px;
    color: #f7f5f5;
    font-family: 'Inter', sans-serif;
    text-align: center;
    box-sizing: border-box;
}
.art2 .tini .tite{
    width: 500px;
    padding: 25px ;
    background-color: #ffffff;
    border-bottom: 1px solid #9393932b;
    text-align: center;
    box-sizing: border-box;
    color: #1E2A2F;
    line-height: 1.3;
    display: block;
    transition: all .3s ease-in-out;
    
}
.art2 .tini p{
    align-items: center;
}

.art2 .tini :hover .tite{
    color: #F29600;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
    background-color: #1e2a2f;
    border: 2.5px solid #F29600;
    line-height: 1.6;
    font-weight: 300;
    
}


article .art1 .secbtn {
    width: 30%; 
    margin: 100px auto;
    border: 5px solid #1E2A2F;
    text-align: center;
    margin-bottom: 150px;
    box-sizing: border-box;
  }

.art1 a {
    text-decoration: none;
}
  
  .secbtn ul {
    background-color: #ffffff;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.356);
    transition: .7s
  }

  .secbtn ul:hover {
    box-shadow: none;
    background-color: #1E2A2F;
  }
  
  .secbtn ul a:hover>h1 {
    color: #ffffff;
  }
  
  .secbtn li a {
    text-decoration: none;
  }
  
  .secbtn a h1 {
    display: block;
    color: #1E2A2F;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding: 20px 60px;
  }
  
  
  .secbtn ul:hover h1 {
    box-shadow: none;
    background-color: #1E2A2F;
    color: #f7f5f5;
    transition: all .9;
  }

/* --------------------------footer---------------------------- */
footer {
    width: 100%;
    background-color: #1E2A2F;
}

footer div {
    margin: 0 auto;
}

footer .final {
    display: flex;
    width: 76%;
    flex-grow: 1;
}

footer .f1 img {
    display: block;
    padding: 10px;
    margin-top: 25px;
}

footer .f1 .footlist2{
  display: none;
}

footer .f2 {
    margin: 10px;
}

footer .f1 img {
    text-align: center;
    margin-right: 5px;
}

.f2 .footlist {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 10px;
}

.f2 .footlist li {
    margin-right: 15px;
}



.f2 :hover>img {
    filter: invert(100%);
    background-color: #0044ff;
}

footer .f3 h6 {
    color: #fff;
    line-height: 1.6;
    text-align: center;
    display: block;
    margin: 50px auto 0;
    padding: 20px;
}

.footlist img {
    display: block;
    margin: 10px;
    background-color: #fdfdfd;
    width: 70%;
    padding: 15px;
}