@import url(reset.css);

:root {
    font-style: 16px;
}

.wrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}
.scroll-to-top {
  display: none; /* 預設隱藏按鈕 */
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #ffffff;
  border:  5px solid #1E2A2F;
  color: #1E2A2F;
  text-align: center;
  font-size: 3.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding: 20px 25px 2px ;
  cursor: pointer;
  z-index: 999;
  transition: all .9 ease-in-out;
}

header {
  max-width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #fff; */
  z-index: 1000;
  transition: all .1s ease-in-out;
}

.top {
  width: 76.04%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin: 0 auto;
  height: 110px;
  box-sizing: border-box;
}

.logo img {
  width: 39%;
}

.bar1 .search {
  width: 200px;
  font-size: 1.3125rem;
  line-height: 1.6;
  outline: 3px solid #1E2A2F;
  /* margin-right: 20px; */
}

.bar1 {
  width: 30%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0044ff; */
  box-sizing: border-box;
  /* border: 3px solid #1E2A2F; */
}

.bar1 ul {

  height: 100%;
  display: flex;
  margin: 20px;
  box-sizing: border-box;
  /* border: 3px solid #1E2A2F; */
}


.bar1 img {
  color: #1E2A2F;
  text-decoration: none;
  width: 5vh;
  display: block;
  /* padding: 5px 20px; */
}

/* ---------------------導覽列--------------------------------------- */
nav {
  max-width:100%;
  width: 100%;
  background-color: #ffffff;
  color: #fff;
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 5px solid #1E2A2F;
  position: fixed;
  top: 0;
  z-index: 998;
  margin: 114px auto 0;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  /* transition: top .9s ease-in-out; */
}

nav .rwd{
  display: none;
}

nav .rwd-item{
  display: none;
}

nav>ul {
  /* max-width: 1460px; */
  width: 76.04%;
  display: flex;
  list-style: none;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}

nav li {
  width: 20%;
  border-right: 5px solid #1E2A2F;
  flex: 1 0 0%;
}

nav li:nth-child(1) {
  border-left: 5px solid #1E2A2F;
}

nav a {
  color: #1E2A2F;
  text-decoration: none;
  padding: 11px 0;
  font-size: 1.125rem;
  text-align: center;
  display: block;
  font-weight: 600;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

nav .sear .search{
  display: none;
}

nav a:hover {
  color: rgb(255, 255, 255);
  background-color: #1E2A2F;
  transition: all .3s ease-in-out;
  transform: scale(1.15);
}

nav a:hover>.submenu {
  border: none;
  background-color: #0044ff;
}

li:hover span {
  color: #F29600;
}

nav span {
  color: #939393;
}

nav ul .submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 10;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: #1e2a2fef;
}

nav ul .submenu:hover>.subli {
  transition: all 0.3s ease-in-out;
}

nav ul .submenu:hover>.subli:nth-child(1) {
  margin-top: 0;
  transition: all .3s ease-in-out;
}

nav .submenu .subli {
  position: relative;
  transition: all 0.3s ease-in-out;
  border: none;
  margin: 0 auto;
}

nav .submenu .submi {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #0044ff; */
  /* background-color: #6070ff; */
  margin: 0 auto;
}

nav .submenu .subli a {
  width: 25%;
}

nav ul .submenu .subli a:hover {
 background-color:#1e2a2f00;
 margin-bottom: 15px;
}


nav ul .submenu .subli a:hover>img {
  transform: scale(1.4);
  transition: all .3s ease-in-out;
  opacity: 1;
  padding: 10px 0;
  margin: 10px 0;
  box-sizing: border-box;
}

nav .submenu .submi img {
  width: 25%;
  /* display: none; */
  margin: 0 auto 10px;
  transition: all .3s ease;
  opacity: .08;
}

nav .submenu .submi p {
  color: #ffffff;
  font-size: 1.5625rem;
  padding: 5px auto;
}

nav ul .submenu .subli a:hover>p {
  transform: scale(1.3);
  transition: all .3s ease-in-out;
  color: #ffffff;
  margin-top: 15px;
  box-sizing: border-box;
}

nav .submenu .sunli:nth-child(1) {
  border-top: none;
}

li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
/* --------------------------商品------------------------------- */
section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* height: 1000px; */
}

section .s0 {
    width: 100%;
    height: 100%;
    /* background-color: #F29600; */
    /* border: 2px solid #F29600; */
    margin-top: 10px;
    display: grid;
    place-items: left;
    display: flex;
    align-items: center;
}

.s0 p {
    font-size: 50vh;
}



section .s0 p {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1.5625rem;
    padding: 5px;
}

section .s0 .typing {
    font-family: 'Inter', sans-serif;
    width: 25ch;
    animation: typing 4s steps(22), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    /* font-family: monospace; */
    font-size: 1.3em;
    color: #1E2A2F;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    90% {
        border-color: transparent
    }
}

section .s1 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* margin-top: 159px; */
}

.demopic {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    /* border: 9px solid #F29600; */
    box-sizing: border-box;
}

.swiper {
    width: 100%;
    /* height: 50%; */
    margin-bottom: 10px;
}

.swiper-slide {
    text-align: center;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* border: 1px solid #0044ff; */
    /* background-color: #F29600; */
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    border: 2px sol;
}

.mySwiper2 {
    height: 50%;
    /* border: 2px solid red; */
    width: 100%;
}

.mySwiper {
    height: 15%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    /* border: 1px solid green; */
    width: 10%;
    height: 80%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1500;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  /* z-index: 1100; */
}

.lightbox-image {
  max-width: 85%;
  max-height: 85%;
  box-shadow: 3px 5px #000;
  /* z-index: 1000; */
}

.lightbox-close {
  display: block;
  position: absolute;
  top: 0;
  right: 160px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.option {
    width: 50%;
    /* background-color: rgb(95, 181, 255); */
    box-sizing: border-box;
}

.option .stamp {
    font-size: 1.25rem;
    color: #fdfdfd;
    background-color: #1E2A2F;
    display: block;
    width: 50px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
}

.option h2 {
    padding: 10px 40px;
    font-family: 'Inter', sans-serif;
    font-size: 2.1875rem;
    line-height: 1.2;
    font-weight: bolder;
    color: #1E2A2F;
}

.option h3 {
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #696969;
}

.option h4 {
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 3.125rem;
    color: #fc2626;
}

.option h4 span {
    color: #1E2A2F;
    font-size: 1.5625rem;
}

.option .btn {
    margin-left: 50px;

}

.option .btn button {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1.875rem;
    width: 245px;
    height: 70px;
    margin: 30px 5px 50px 0;
    background-color: #fdfdfd;
    border: 4px solid #1E2A2F;
    border-radius: 5px;
    box-sizing: border-box;
}

.option .btn button:nth-child(2) {
    color: #F29600;
    background-color: #1E2A2F;
}

.option .choise {
    margin: 20px 0 0px 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1.5625rem;
    color: #566b74;
}

.option .btn button:hover {
    color: #fdfdfd;
    background-color: #f83636;
    border-color: #d40000;
}

.option .btn0 {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid #1E2A2F; */
    color: #1E2A2F;
    width: 245px;
    height: 50px;
    background-color: #ffffff00;
    display: flex;
    border: 3px solid #1E2A2F;
    border-radius: 2PX;
}

.btn0 button {
    width: 30%;
    height: 100%;
    border: 1px solid #1E2A2F;
    border-radius: none;
    font-size: 1.875rem;
}

.btn0 button:nth-child(1) {
    border-right: 3.5px solid #1E2A2F;
}

.btn0 button:nth-child(3) {
    border-left: 3.5px solid #1E2A2F;
}


.btn0 span {
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    font-size: 1.875rem;
}

.box {
    width: 80%;
    height: 27.8%;
    margin: 0 auto;
    background-color: #788991;
    border: 5px solid #1E2A2F;
}

.box p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5625rem;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    box-sizing: border-box;
    line-height: 1.25;
}


/* -------------------------SSSSSS-------------------- */
.sssss {
    width: 1200px;
    /* height: 100vh; */
    background-color: #ffffff;
    /* border-top: 1px solid #1e2a2f17; */
    margin: 0 auto;
}
.container-f {
    padding-top: 40px;
    width: 1200px;
    /* height: 1000px; */
    margin: 0 auto;
    box-sizing: border-box;
    /* padding: 20px; */
    /* outline: 5px solid #0e96d1; */
  }
  
  .tabs {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px auto;
    border: 5px solid #1E2A2F;
  }
  
  .tabs .tablinks {
    /* width: 226.6PX; */
    background-color: #ffffff;
    border-right: 5px solid #1E2A2F;
    color: #1E2A2F;
    text-align: center;
    font-size: 1.5625rem;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding: 20px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    flex-basis: 0;
    flex-grow: 1;
    /* margin-bottom: 80px; */
  }
  .tabs .tablinks.active {
    background-color: #1E2A2F;
    color: #ebebeb;
  }
  
  .tabs .tablinks:nth-child(3){
    border-right: #1e2a2f00;
  }
  
  .tabs .tablinks:hover {
    /* background-color: #1E2A2F; */
    color:#F29600;
  }
  
  .tablinks.active {
    background-color: #a10000;
    color: #333;
  }
  
  .page {
    display: none;
    flex-wrap: wrap;
    margin-top: 100px auto ;
    flex-basis: 0;
    margin: 0 auto;
    /* border: 2px solid #0044ff; */
   
    /* background-color: #0044ff; */
  }
  
  .container-f .page .app {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
  }
  
  .page.active {
    display: block;
    /* padding: 20px 0; */
  }
  
  .page .article{
    display: block;
    width: 100%;
    /* height: 100px; */
    background-color: #ffffff;
    margin: 0 auto;
    border: 5px solid #1E2A2F;
    outline: 5px solid #03192852;
    border-radius: 10px;
    padding: 50px;
    margin: 50px 0;
    box-sizing: border-box;
  }

  .page h2{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 3.125rem;
    display: block;
    margin-bottom: 15px;
    color: #0044ff;
    line-height: 1.6;
    border-bottom: 2px ;
  }

  .page h1{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 6.25rem;
    display: block;
    margin-bottom: 15px;
    color: #0044ff;
    line-height: 1.6;
    border-bottom: 2px ;
    text-align: center;
  }

.article p{
    /* background-color: #0044ff; */
    color: #5d5d5d;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    /* display: block; */
    font-size: 1.5625rem;
    line-height: 1.8;
    letter-spacing: 2PX;
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 0 60px;
    box-sizing: border-box;
  }

  strong{
    color: #a10000;
    font-weight: bold;
    font-size: 2.1875rem;
  }

 #page1 img{
    width: 60%;
    display: block;
    margin: 15px auto;
 }

 #page2 img{
    width: 80%;
    display: block;
    margin: 15px auto;
 }

 #page3 img{
    width: 80%;
    display: block;
    margin: 15px auto;
 }



 .secbtn {
    width: 20%; 
    margin: 100px auto;
    border: 5px solid #1E2A2F;
    text-align: center;
    margin-bottom: 150px;
    box-sizing: border-box;
  }


  
  .secbtn ul {
    background-color: #ffffff;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.356);
    transition: .7s
  }

  .secbtn ul:hover {
    box-shadow: none;
    background-color: #1E2A2F;
  }
  
  .secbtn ul a:hover>h1 {
    color: #ffffff;
  }
  
  .secbtn li a {
    text-decoration: none;
  }
  
  .secbtn a h1 {
    display: block;
    color: #1E2A2F;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding: 20px 60px;
  }
  
  
  .secbtn ul:hover h1 {
    box-shadow: none;
    background-color: #1E2A2F;
    color: #f7f5f5;
    transition: all .9;
  }
/* --------------------------footer---------------------------- */

/* --------------------------footer---------------------------- */
footer {
  width: 100%;
  background-color: #1E2A2F;
}

footer div {
  margin: 0 auto;
}

footer .final {
  /* border: 5px solid orange; */
  display: flex;
  width: 76%;
  /* justify-content: space-between; */
  flex-grow: 1;
}



footer .f1 img {
  display: block;
  /* width: 25%; */
  /* border: 2px solid blue; */
  padding: 10px;
  margin-top: 25px;
}

footer .f1 .footlist2{
  display: none;
}


footer .f2 {
  /* border: 2px solid rgb(162, 0, 255); */
  margin: 10px;
}



footer .f1 img {
  /* display: block; */
  text-align: center;
  /* background-color: #fdfdfd; */
  /* padding: 10px; */
  margin-right: 5px;
}

.f2 .footlist {
  width: 100%;
  display: flex;
  /* background-color: #cd0000; */

  flex-grow: 1;
  padding: 10px;
}

.f2 .footlist li {
  margin-right: 15px;
  /* border: 2px solid #6070ff; */
}

/* .f2 :hover >img{
  
  background-color: #F29600;

  } */

.f2 :hover>img {
  filter: invert(100%);
  background-color: #0044ff;

}

footer .f3 h6 {
  color: #fff;
  line-height: 1.6;
  text-align: center;
  display: block;
  margin: 50px auto;
  /* background-color: #0051ff;。 */
  padding: 20px;
  /* border: 2px solid olivedrab; */

}

.footlist img {
  display: block;
  /* padding: 5px 5px; */
  margin: 10px;
  background-color: #fdfdfd;
  width: 70%;
  padding: 15px;
}
