@media screen and (max-width:415px) {

    :root {
    font-style: 16px;
    }
    
    body {
        overflow: hidden;
    }
    
    
    .wrapper{
        max-width: 414px;
        width: 90%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        overflow: hidden;
    }
    .scroll-to-top {
        bottom: 20px;
        right: 5px;
        background-color: #f3f3f3;
        border:  4px solid #1E2A2F;
        color: #1E2A2F;
        text-align: center;
        font-size: 3.25rem;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        padding: 15px 15px 0px ;
        cursor: pointer;
        z-index: 999;
        opacity: .5;
        }
    
    header{
        max-width: 414px;
        width: 100%;
        height: 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /* bottom: 0; */
        z-index: 1000;
        transition: all .1s ease-in-out;
        /* box-sizing: border-box; */
    }
    
    .top{
        min-width: 414px;
        /* display: flex; */
        width: 100%;
        box-sizing: border-box;
        background-color: #ffffff;
        height: 90px;
        margin: 0 auto;
    }
    
    .logo{
        max-width: 414px;
        width: 100%;
        /* display: block; */
        margin: 0 auto;
    }
    
    .logo img{
    width: 60%;
    display: block;
    margin: 0 auto;
    }
    
    .bar1{
        display: none;
    }
/* ------------------nav---------------------------------- */
nav{
    max-width: 414px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid #1E2A2F;
    top: 0px;
    left: 0;
    right: 0;
    margin: 90px auto 0;
    flex-wrap: wrap;
    position: -webkit-sticky;
    z-index: 1000;
    box-sizing: border-box;
}

nav .rwd{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.rwd ul{
width: 100%;
height: 40px;
display: flex;
flex-grow: 1;
/* background-color: rgb(128, 44, 44); */
align-items: center;
box-sizing: border-box;
justify-content: space-between;
}

.rwd ul li{
    width: 100%;
    /* border: 1px solid #1E2A2F; */
    border: none;
    /* background-color: aqua; */
    box-sizing: border-box;
    /* margin-bottom: 15px; */
}


/* .rwd ul i{
    color: #1E2A2F;
    display: block;
    
    text-align: center;
    font-size: 30px;
    
} */
/*  */
.fafa{
    width: 100%;
    /* background-color: #6070ff; */
}

.toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}
.toggle span {
    
    display: block;
    background: #1E2A2F;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
}
.toggle span:nth-child(1) {
    margin-bottom: 7px;
}
.toggle span:nth-child(3) {
    margin-top: 7px;
}
.toggle.active span {
 transition: 0.25s margin, 0.25s transform 0.25s;
}
  .toggle.active span:nth-child(1) {
    /* margin-top: 3px; */
    margin-bottom: -3px;
    transform: rotate(45deg);
    background-color: #6070ff;
  }
  .toggle.active span:nth-child(2) {
    transform: rotate(45deg);

  }
  .toggle.active span:nth-child(3) {
    margin-top: -3px;
    transform: rotate(135deg);
  }
  
/*  */

.rwd ul li a{
    text-decoration: none;
    padding: 5px;
    box-sizing: border-box;
    /* background-color: cornflowerblue; */
}

.rwd img {
    color: #1E2A2F;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

nav #web{
    /* position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: #ffffffe8;
    flex-direction: column; */
    display: none;
}

nav .rwd-item{
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background-color: #fffffff3;
    flex-direction: column;
    display: block;
    /* display: none; */
}

nav .r-item{
    width: 100%;
    box-sizing: border-box;
    /* background-color: #909192; */
}

nav .r-item li{
width: 100%;
border: none;
border-bottom: 1px solid #1e2a2f23;
padding: 20px 30px;
margin: 0 auto;
box-sizing: border-box;

/* background-color: #909192; */
}

nav .r-item li a{
font-family: 'Inter', sans-serif;
text-align: left;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
box-sizing: border-box;
align-items: center;
transition: inherit;
}

nav .r-item .right{
width: 30px;
font-family: 'Inter', sans-serif;
font-size: 1.5rem;
color: #1e2a2f86;
display: block;
text-align: center;
padding: 4px 0 4px 7px;
transition: inherit;
border: 2px solid #1e2a2f6b;
border-radius: 5px;
background-color: #e4e4e4;

}

nav .r-item2{
width: 100%;
/* height: 100%; */
position: absolute;
top: 0;
right: 0%;
/* transition: all .3s ease-in; */
background-color: #6597ad00;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
/* display: none; */

}

nav .r-header{
    width: 100%;
    display: flex;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    transition: inherit;
}

nav .r-header p{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #1E2A2F;
    padding: 20px;
}

nav .r-header p:nth-child(1){
    width: 40%;
}


nav .r-item2 a{
width:50%;
background-color: rgb(255, 255, 255);
display: flex;
flex-wrap: wrap;
padding: 20px;
box-sizing: border-box;
border: 1px solid #90919210;
justify-content: space-between;
}

nav .r-item2 img{
width: 80%;
margin: 0 auto;
/* border: 2px solid #1E2A2F; */
/* padding: 5px */
}

nav .r-item2 a #p{
width: 100%;
display: block;
margin: 0 auto;
align-items: center;
padding: 5px;
color: #1E2A2F;
text-align: center;
font-weight: bold;
}

nav .sear {

width: 100%;
display: none;
background-color: #1e2a2f;
z-index: 99;
}

nav .sear .search{
width: 80%;
display: block;
height: 50px;
margin: 20px auto;
}

nav a:hover {
color: rgb(0, 0, 0);
background-color: #ffffff00;
transition: none;
transform: none;
}

nav ul .submenu .subli a:hover {
background-color:white;
margin-bottom: none;
}

nav ul .submenu .subli a:hover>img {
transform: inherit;
transition: inherit;
opacity: 1;
padding: inherit;
margin: inherit;
box-sizing: border-box;
}

nav ul .submenu .subli a:hover>p {
    transform: none;
    transition: none;
    color: #1E2A2F;
    margin-top: inherit;
    box-sizing: border-box;
}

li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

nav a:hover>.submenu {
    border: none;
    background-color: white;

}

  li:hover span {
    color: #1E2A2F;
  }


  nav ul .submenu:hover>.subli {
    transition: inherit;
  }
  
  nav ul .submenu:hover>.subli:nth-child(1) {
    margin-top: 0;
    transition: inherit;
  }

/* -------title------------------ */
.main{
max-width: 414px;
width: 100%;
padding-top: 0px;
}

.title{
width: 100%;
margin: 0 auto;
padding: 30px;
box-sizing: border-box;
/* background-color: #6070ff; */
margin: 0 auto;
}

.title h1 {
display: block;
font-family: 'Inter', sans-serif;
font-weight: bolder;
color: #1E2A2F;
font-size: 4.25rem;
margin: 0 auto;
padding: 0px;
/* background-color: #909192; */
}

.title p {
display: block;
font-family: 'Inter', sans-serif;
font-weight: bolder;
font-size: 1.25rem;
color: #909192;
padding-bottom: 15px;
border-bottom: 4px solid #1e2a2f24;
/* margin-left: 50px; */
}
/* ---------問與答---------------------- */
.container-f {
    width: 90%;
    /* height: 1000px; */
    margin: 0 auto;
    box-sizing: border-box;
    /* padding: 20px; */
    /* outline: 5px solid #0e96d1; */
}

.tabs {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px auto;
    border: 3px solid #1E2A2F;
}
.tabs .tablinks {
    /* width: 226.6PX; */
    background-color: #ffffff;
    border-right: 3px solid #1E2A2F;
    color: #1E2A2F;
    text-align: center;
    font-size: 1.25rem;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding: 15px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    flex-basis: 0;
    flex-grow: 1;
    /* margin-bottom: 80px; */
}

.page {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-basis: 0;
    /* background-color: #0044ff; */
}

.page .article{
    display: block;
    width: 100%;
    /* height: 100px; */
    background-color: #ffffff;
    margin: 0 auto;
    border: 3px solid #1E2A2F;
    outline: 3px solid #03192852;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 0;
    box-sizing: border-box;
}

.page h2{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    display: block;
    margin-bottom: 15px;
    color: #0044ff;
    line-height: 1.2;
    margin: 0 auto;
    padding: 10px;
    /* margin-left: 30px; */
    /* text-align: center; */
}

.article p{
    /* background-color: #0044ff; */
    color: #5d5d5d;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    /* display: block; */
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1PX;
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 10px;
    box-sizing: border-box;
}
strong{
    color: #a10000;
    font-weight: bold;
    font-size: 1.25rem;
}

  .article img{
    padding: 5px;
    width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .page h1{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 2.125rem;
    display: block;
    margin-bottom: 15px;
    color: #0044ff;
    line-height: 1.6;
    border-bottom: 2px ;
    text-align: center;
  }



/* -------footer----------------- */
footer{
    max-width: 414px;
    width: 100%;
}

footer .final{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .f1{
    width: 90%;
    margin: 0 auto;
    /* background-color: #6070ff; */
    display: flex;
    box-sizing: border-box;
}


footer .f1 img{
    display: block;
    width: 45%;
    height: 55px;
    margin: 0 auto;
    /* background-color: #6070ff; */
    /* order: 0; */
}

.final .f1 .footlist2{
    width: 40%;
    display: block;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
}

footer .f1 .footlist2 img{
width: 100%;
height: 50px;
display: block;
padding: 10px;
margin: 15px auto;
filter: invert(100%);
box-sizing: border-box;
}

footer .f3{
    width: 100%;
    margin: 0 auto;
    /* order: 2; */
}

footer .f3 h6{
    color: #fff;
    line-height: 1.6;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 10px;
}

footer .f2{
    margin: 0 auto;
    /* order: 1; */
}

.f2 .footlist{
    margin: 0 auto;
    width: 50%;
}

.f2 .footlist li{
    width: 100%;
    
}

.f2 .footlist img{
    width: 100%;
    display: block;
    padding: 5px;
    margin: 0 auto;
    display: none;
    /* border: 2px solid yellow; */
}

}

@media screen and (max-width:375px){
.wrapper{
max-width: 375px;
}

    header{
    max-width: 375px;
    }
    
    .top{
    min-width: 375px;
    }
    .logo{
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    }
    /* -------------------------- */
    nav{
    max-width: 375px;
    width: 100%;
    height: 55px;
    }

/* ----------------------------- */
.tabs .tablinks {
padding: 15px 11px;
cursor: pointer;
transition: all 0.3s ease-in-out;
flex-basis: 0;
flex-grow: 1;
}
/* ------------------------------- */
    footer{
    max-width: 375px;
    width: 100%;
    }
    
    footer .f1 img{
    display: block;
    width: 50%;
    }
    
    .final .f1 .footlist2{
    width: 50%;
    }
    
    footer .f3 h6{
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 40px;
    font-size: 10px;
    }
}

@media screen and (max-width:395px){
        .wrapper{
        max-width: 395px;
        }
        
        header{
        max-width: 395px;
        }
        
        .top{
        min-width: 395px;
        }
        
        .logo{
        max-width: 395px;
        width: 100%;
        margin: 0 auto;
        }
        /* -------------------------- */
        nav{
        max-width: 395px;
        height: 55px;
        }
         /* -------------------------- */
        section {
        max-width: 395vw;
        width: 100%;
        }
        /* ------------------------------- */
        footer{
        max-width: 395px;
        width: 100%;
        }
        
        footer .f1 img{
        display: block;
        width: 50%;
        }
        
        }