@import url(reset.css);

:root {
  font-style: 16px;
}

body {
  background-color: #ffffff;
  background-image: url(../images/Bgimg/BANNER6.png);
  /* height: 3000px; */
}



.wrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}


.scroll-to-top {
  display: none; /* 預設隱藏按鈕 */
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #ffffff;
  border:  5px solid #1E2A2F;
  color: #1E2A2F;
  text-align: center;
  font-size: 3.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding: 20px 25px 2px ;
  cursor: pointer;
  z-index: 999;
  transition: all .9 ease-in-out;
}

header {
  max-width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #fff; */
  z-index: 1000;
  transition: all .1s ease-in-out;
}

.top {
  width: 76.04%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin: 0 auto;
  height: 110px;
  box-sizing: border-box;
}

.logo img {
  width: 39%;
}

.bar1 .search {
  width: 200px;
  font-size: 1.3125rem;
  line-height: 1.6;
  outline: 3px solid #1E2A2F;
  /* margin-right: 20px; */
}

.bar1 {
  width: 30%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0044ff; */
  box-sizing: border-box;
  /* border: 3px solid #1E2A2F; */
}

.bar1 ul {

  height: 100%;
  display: flex;
  margin: 20px;
  box-sizing: border-box;
  /* border: 3px solid #1E2A2F; */
}


.bar1 img {
  color: #1E2A2F;
  text-decoration: none;
  width: 5vh;
  display: block;
  /* padding: 5px 20px; */
}

/* ---------------------導覽列--------------------------------------- */
nav {
  max-width:100%;
  width: 100%;
  background-color: #ffffff;
  color: #fff;
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 5px solid #1E2A2F;
  position: fixed;
  top: 0;
  z-index: 998;
  margin: 114px auto 0;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  /* transition: top .9s ease-in-out; */
}

nav .rwd{
  display: none;
}

nav .rwd-item{
  display: none;
}

nav>ul {
  /* max-width: 1460px; */
  width: 76.04%;
  display: flex;
  list-style: none;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}

nav li {
  width: 20%;
  border-right: 5px solid #1E2A2F;
  flex: 1 0 0%;
}

nav li:nth-child(1) {
  border-left: 5px solid #1E2A2F;
}

nav a {
  color: #1E2A2F;
  text-decoration: none;
  padding: 11px 0;
  font-size: 1.125rem;
  text-align: center;
  display: block;
  font-weight: 600;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

nav .sear .search{
  display: none;
}

nav a:hover {
  color: rgb(255, 255, 255);
  background-color: #1E2A2F;
  transition: all .3s ease-in-out;
  transform: scale(1.15);
}

nav a:hover>.submenu {
  border: none;
  background-color: #0044ff;
}

li:hover span {
  color: #F29600;
}

nav span {
  color: #939393;
}

nav ul .submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 10;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: #1e2a2fef;
}

nav ul .submenu:hover>.subli {
  transition: all 0.3s ease-in-out;
}

nav ul .submenu:hover>.subli:nth-child(1) {
  margin-top: 0;
  transition: all .3s ease-in-out;
}

nav .submenu .subli {
  position: relative;
  transition: all 0.3s ease-in-out;
  border: none;
  margin: 0 auto;
}

nav .submenu .submi {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #0044ff; */
  /* background-color: #6070ff; */
  margin: 0 auto;
}

nav .submenu .subli a {
  width: 25%;
}

nav ul .submenu .subli a:hover {
 background-color:#1e2a2f00;
 margin-bottom: 15px;
}


nav ul .submenu .subli a:hover>img {
  transform: scale(1.4);
  transition: all .3s ease-in-out;
  opacity: 1;
  padding: 10px 0;
  margin: 10px 0;
  box-sizing: border-box;
}

nav .submenu .submi img {
  width: 25%;
  /* display: none; */
  margin: 0 auto 10px;
  transition: all .3s ease;
  opacity: .08;
}

nav .submenu .submi p {
  color: #ffffff;
  font-size: 1.5625rem;
  padding: 5px auto;
}

nav ul .submenu .subli a:hover>p {
  transform: scale(1.3);
  transition: all .3s ease-in-out;
  color: #ffffff;
  margin-top: 15px;
  box-sizing: border-box;
}

nav .submenu .sunli:nth-child(1) {
  border-top: none;
}

li:hover .submenu {
  visibility: visible;
  opacity: 1;
}


/* ------------------------------Banner-------------------------------------------- */
.change{
  display: none;
}

.swiper {
  max-width: 1920px;
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  /* margin-top: 120px; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* ------------LinkBTN----------------- */
main {
  max-width: 1460px;
  width: 76.04%;
  margin: 0 auto;
}


.linkbtn {
  width: 100%;
  display: block;
  margin: 15px auto;
  box-sizing: border-box;
}

.linkbtn .linkBtnList {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 0;
  justify-content: space-between;
}

.linkbtn .linkBtnList li {
  width: 48%;
  border: 5px solid #1E2A2F;
  background-color: #fdfdfd;
  padding: 32.5px 0;
  position: relative;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.356);
  transition: .7s;
}

.linkbtn .linkBtnList a {
  text-decoration: none;
  display: block;
}

.linkbtn .linkBtnList h3 {
  color: #1E2A2F;
  font-size: 4.375rem;
  text-decoration: none;
  font-weight:bold ;
  font-family: 'Inter', sans-serif;
  padding-left: 70px;
}

.linkbtn .triangle {
  width: 0;
  height: 0;
  border-color: #6070ff transparent;
  border-width: 120px 0px 0px 150px;
  border-style: solid;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.linkbtn img {
  display: block;
  width: 20%;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  transition: all .2s ease-out;
}


.linkbtn .imgcol .img2 {
  /* display: none; */
  width: 20%;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  transition: all .2s ease-out;
  opacity: 0;
}

.linkbtn .linkBtnList .a:hover {
  box-shadow: none;
}

.linkbtn .linkBtnList .b:hover {
  box-shadow: none;
}

.linkbtn .linkBtnList .a:hover img {
  opacity: 0;
}

.linkbtn .linkBtnList .b:hover img {
  opacity: 0;
}

.linkbtn .linkBtnList .a:hover .img2 {
  transform: scale(1.2);
  opacity: 1;
}

.linkbtn .linkBtnList .b:hover .img2 {
  transform: scale(1.2);
  opacity: 1;
}

/* --------------------------------Section--------------------------------------------- */
section {
  max-width: 1448px;
  /* width: 76.04%; */
  margin: 0 auto;
  box-sizing: border-box;
  /* border: 5px solid red; */
}

.bbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 2px solid #F29600; */
  margin: 0 auto;
  box-sizing: border-box;
  /* align-items: stretch; */
}

section .sec1,
section .sec2 {
  flex-basis: 50%;
  max-width: 730px;
  box-sizing: border-box;
}

section .sec1 {
  width: 100%;
  background-color: #6070ff;
  position: relative;
  overflow: hidden;
  /* display: flex; */
  align-items: center;


  /* box-sizing: border-box; */
}

section h3 {
  font-size: 4.6875em;
  color: #F29600;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-shadow: 5px 4px 2px rgba(9, 0, 87, 0.356);
  display: block;
  text-align: center;
  margin-top: 30%;
}


.sec1 p {
  font-size: 2.1875em;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  line-height: 1.6;
  margin-left: 15%;
}

.btn2 {
  display: flex;
  position: absolute;
  bottom: 100px;
  right: 100px;
  transform: translateY(-50%);
}

.btn2 .img1 {
  display: block;
  width: 94px;
  /* padding: 10px; */
  /* height: 65px; */
  border: 5px solid #1E2A2F;
  background-color: #fff;
  background-size: 50%;
  background-image: url(../images/icon/sectionbtn/LEFT.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.btn2 .img2 {
  display: block;
  width: 94px;
  height: 65px;
  border: 5px solid #1E2A2F;
  background-color: #fff;
  background-size: 50%;
  background-image: url(../images/icon/sectionbtn/RIGHT.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.btn2 .img2:hover {
  border-color: rgb(209, 209, 209);
  background-color: #0051ff;
  /* color: rgb(218, 0, 0); */
  transform: scale(1.1);
  filter: invert(100%)
    /* color: #0051ff; */
}

.btn2 .img1:hover {
  border-color: rgb(209, 209, 209);
  background-color: #0051ff;
  transform: scale(1.1);
  filter: invert(100%);
  /* color: #6070ff; */

}

section .sec2 {
  width: 50%;
  /* height: auto; */
  height: 730px;
  position: relative;
  overflow: hidden;
}

.sec2 img {
  display: block;
  width: 103%;
  height: auto;
  position: absolute;
  /* 設置為絕對定位 */
  top: 0;
  /* 定義圖片的位置 */
  left: 0;

}

.sec2 img:nth-child(n+2) {
  /* 隱藏除第一個圖片以外的所有圖片 */
  display: none;
}

.sec2 img.active {
  /* 顯示“active”類的圖片 */
  display: block;
  z-index: 1;
  /* 定義堆疊順序，以使其位於其他圖片之上 */
}

.sec2 .position {
  position: absolute;
  bottom: 100px;
  right: px;
  font-size: 16px;
  color: #fff;
}

/* ------------------------menu 選單------------------------------ */
.menu {
  width: 100%;
  /* flex-grow: 1; */
  /* background-color: #0044ff; */
}

.menu .m1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 5px solid #000000;
  box-sizing: border-box;
  justify-content: space-between;

}

.m1 li {
  width: 16.6666667%;
  padding: 20px 0;
  /* justify-content: space-around; */
  box-sizing: border-box;
  border-right: 5px solid #1E2A2F;
  /* background-color: #ffc760; */
  /* padding: 50px; */
}

.m1 a {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.menu .m1 img {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  padding: 5px;
}


.menu .m1 li:nth-child(6) {
  border-right: 0;
}

.m1 li:hover {
  background-color: #F29600;
  transition: all .3s ease-in-out;
}

.m1 li:hover img {
  transform: scale(1.1);
  filter: invert(100%);
  transition: all .3s ease-in-out;

}

.m1 a img:hover {
  filter: invert(100%);
}
/* --------------------film--------------------- */
.main3{
  max-width: 1460px;
  width: 76.04%;
  /* background-color: #0044ff; */
  margin: 0 auto;
  /* margin: 10px auto 0; */
}

#t{
  margin: 80px auto 0;
}

/* *--------------------main 輪播專區 --------------------------------------*/
.main1 {
  text-align: center;
  display: block;
  margin: 50px auto 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/Bgimg/BG6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.sssss {
  display: block;
  /* background-color: #6070ff; */
  width: 100%;
  margin: 0 auto;
}

.sssss ul {
  /* display: flex; */
  width: 60%;
  box-sizing: border-box;
  margin: 0 auto;
}

/* .sssss iframe{ padding: 10px;} */

.sssss img {
  display: block;
  width: 100%;
  padding: 10px;

}


/* .main1 .z1 p{} */

/* ---------------------h1------------------------------------ */
.title {
  max-width: 1360px;
  margin: 100px auto 50px;
}

.title h1 {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  color: #1E2A2F;
  font-size: 8.5625rem;
}

.title p {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #909192;
  padding-bottom: 15px;
  border-bottom: 4px solid #1e2a2f24;
  /* margin-left: 50px; */
}

.title p:after {
  content: "一番好き﹍";
  /* border: 5px solid #909192; */
}

.title #t2:after {
  content: "人気の動画﹍";
  /* border: 5px solid #909192; */
}

/* -----------------------project 產品------------------------------------ */
.product {
  max-width: 1360px;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
}

.row {
  /* width: 100%; */
  display: flex;
  margin-bottom: 50px;
  /* border: 5px solid #0044ff; */
  flex-wrap: wrap;
}

.col {
  transition: transform .9s ease-in-out;

}

.col .pro-col {
  width: 100%;
  height: 300px;
  border: 5px solid #909192;
  display: block;
  background-color: #fdfdfd;
  transition: all .3s ease-in-out;
}

.row .col:hover>.pro-col {
  transform: scale(1.1);
  /*商品圖縮放大小*/
  border-color: #1e2a2f00;
  background-color: #0044ff00;
  transition: all .9s ease-in-out;
}


.col .img3 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.col .caption {
  width: 299px;
  margin: 0 auto;
}

.caption h4 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 1.8;
  padding: 0 5px;
  box-sizing: border-box;
  display: block;
}

.caption .name {
  text-decoration: none;
  color: #1E2A2F;
  font-size: 1.125rem;
  display: block;
}

.caption .price {
  display: block;
  margin: 0 auto;
}

.caption .money {
  color: rgb(255, 69, 69);
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  font-weight: 550;
}

.caption .cap-btn {
  padding: 0 15px 10px;
  text-align: center;
  box-sizing: border-box;
}

.caption .cap-btn .button {
  color: #1E2A2F;
  background-color: #fff;
  border: 4px solid #1E2A2F;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bolder;
  transition: all .3s ease-in-out;
}

.caption .cap-btn .button:hover {
  background-color: #1E2A2F;
  transition: all .3s ease-in-out;
}

.caption .cap-btn .button:hover>a {
  color: #fff;
  transition: all .3s ease-in-out;
}

.secbtn {
  width: 290px;
  margin: 100px auto;
  /* border: 5px solid #1E2A2F; */
  text-align: center;
  margin-bottom: 150px;
}

.secbtn ul {
  background-color: #ffffff;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.356);
  transition: .7s;
  border: 5px solid #1E2A2F;

}

.secbtn ul:hover {
  box-shadow: none;
  background-color: #1E2A2F;
}

.secbtn ul a:hover>h1 {
  color: #ffffff;
}

.secbtn li a {
  text-decoration: none;
}

.secbtn a h1 {
  display: block;
  color: #1E2A2F;
  font-size: 2.1875rem;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  padding: 25px 60px;
}

/* --------------------------footer---------------------------- */


footer {
  width: 100%;
  background-color: #1E2A2F;
}

footer div {
  margin: 0 auto;
}

footer .final {
  /* border: 5px solid orange; */
  display: flex;
  width: 76%;
  /* justify-content: space-between; */
  flex-grow: 1;
}



footer .f1 img {
  display: block;
  /* width: 25%; */
  /* border: 2px solid blue; */
  padding: 10px;
  margin-top: 25px;
}

footer .f1 .footlist2{
  display: none;
}


footer .f2 {
  /* border: 2px solid rgb(162, 0, 255); */
  margin: 10px;
}



footer .f1 img {
  /* display: block; */
  text-align: center;
  /* background-color: #fdfdfd; */
  /* padding: 10px; */
  margin-right: 5px;
}

.f2 .footlist {
  width: 100%;
  display: flex;
  /* background-color: #cd0000; */

  flex-grow: 1;
  padding: 10px;
}

.f2 .footlist li {
  margin-right: 15px;
  /* border: 2px solid #6070ff; */
}

/* .f2 :hover >img{
  
  background-color: #F29600;

  } */

.f2 :hover>img {
  filter: invert(100%);
  background-color: #0044ff;

}

footer .f3 h6 {
  color: #fff;
  line-height: 1.6;
  text-align: center;
  display: block;
  margin: 50px auto;
  /* background-color: #0051ff;。 */
  padding: 20px;
  /* border: 2px solid olivedrab; */

}

.footlist img {
  display: block;
  /* padding: 5px 5px; */
  margin: 10px;
  background-color: #fdfdfd;
  width: 70%;
  padding: 15px;
}